@page
@using StudentInformationSystem.Data
@using StudentInformationSystem.Entity.Concrete
@model AcademicianPlatform.Areas.Identity.Pages.Account.Manage.SupportModel
@inject UserManager<User> UserManager
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Need Help?";
    ViewData["ActivePage"] = ManageNavPages.Support;
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">

}
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var failedMessage = TempData["FailedMessage"] as string;
}
@{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
    List<Ticket> allTickets = new List<Ticket>();
    List<Ticket> unansweredTickets = new List<Ticket>();
    List<Ticket> answeredTickets = new List<Ticket>();
    List<Ticket> userTickets = new List<Ticket>();
    allTickets = _context.Tickets.Where(p => p.TicketSenderUserName == user.UserName).OrderByDescending(p => p.TicketId).ToList();
    foreach (var ticket in allTickets)
    {
        if (ticket.TicketSenderUserName == user.UserName)
        {
            userTickets.Add(ticket);
            if(ticket.isAnswered == true)
            {
                answeredTickets.Add(ticket);
            }
            else if (ticket.isAnswered == false)
            {
                unansweredTickets.Add(ticket);    
            }
        }
    }
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">New Ticket...</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Answered Tickets</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Active Tickets</button>
    </div>
</nav>
<div class="tab-content my-3" id="nav-tabContent">
    <div class="tab-pane fade show active px-2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h4 id="profile-title" class="text-dark"><i class="fas fa-headset fa-sm"></i>   @ViewData["Title"]</h4>
        <partial name="_StatusMessage" for="StatusMessage" />
        <p>If you face any problem or you have a suggestion to make, please let us know from the form below.</p>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-page-handler="SubmitTicket" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <label asp-for="Input.TicketTitle" class="form-label"></label>
                                <input asp-for="Input.TicketTitle" class="form-control" autocomplete="ticketTitle" />
                                <span asp-validation-for="Input.TicketTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <label asp-for="Input.TicketType" class="form-label"></label>
                                <select asp-for="Input.TicketType" class="form-control">
                                    <option value=""></option>
                                    <option value="Suggestion">&#8505;Suggestion</option>
                                    <option value="Emergency">&#9888;Emergency</option>
                                    <option value="High Emergency">&#9762;High Emergency</option>
                                </select>
                                <span asp-validation-for="Input.TicketType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.TicketContent" class="form-label"></label>
                        <textarea asp-for="Input.TicketContent" class="form-control" autocomplete="ticketContent" rows="5"></textarea>
                        <span asp-validation-for="Input.TicketContent" class="text-danger"></span>
                        <input type="hidden" name="userName" value="@User.Identity.Name" />
                    </div>
                    <br />
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade px-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <h4 id="profile-title" class="text-dark"><i class="fas fa-headset fa-sm"></i>   Answered Tickets</h4>
        @if (answeredTickets.Count == 0)
        {
            <p>You do not have any answered support tickets.</p>
        }
        else
        {
            foreach (var ticket in answeredTickets)
            {
                if (@ticket.TicketType == "Suggestion")
                {
                    <div class="card mb-3 shadow" style="max-width: 100%; background-color: #4755d1;">
                        <div class="card-header text-dark">
                            <div class="row">
                                <div class="col-lg-12 text-primary" style="display:inline;">
                                    <i class="fa fa-info-circle text-info" style="display: inline;"></i><p class="text-info" style="display:inline-block;"><b>          @ticket.TicketType</b></p>
                                    <span style="float: right;" class="text-end">@ticket.TicketDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark bg-white">
                            <h5 style="font-size: 25px; font-weight: normal;" class="card-title text-dark"><b>@ticket.TicketTitle</b></h5>
                            <p class="card-text" style="font-size: 16px; font-weight: normal;">@Html.Raw(@ticket.TicketContent)</p>
                            <br />
                            @if (@ticket.isAnswered)
                            {
                                var respondSender = await UserManager.FindByNameAsync(ticket.TicketRespondSenderUserName);
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>     @respondSender.FirstName @respondSender.LastName</b> answered: @ticket.TicketRespondContent</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text text-dark" style="display: inline-block; vertical-align: top; float: right; font-weight: normal;"><b>Contact:</b><i>  @respondSender.Email</i></p>
                                    </div>
                                    <hr />
                                    @if (ticket.UserResponse == null)
                                    {
                                        <div class="col-6">
                                            <form action="/Panel/ResolvedTicket" method="post" class="text-start" onsubmit="return confirm('You are about to mark this ticket as Resolved. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Resolved
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form action="/Panel/NotResolvedTicket" method="post" class="text-end" onsubmit="return confirm('You are about to mark this ticket as Not Resolved. You will be taken to Email Sending page to send an email to support team. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-danger" style="float: right;">
                                                    Not Resolved
                                                </button>
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-6 text-end">
                                            <p> Email sent to support system. This ticket will be deleted in 30 mins. </p>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="col-6">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>Waiting Response...</b><span style="font-size: 13px; font-weight: normal; color: #666666;">(Answer by our support team will be displayed here.)</span></p>
                                </div>
                            }

                        </div>
                    </div>
                }
                if (@ticket.TicketType == "Emergency")
                {
                    <div class="card mb-3 shadow" style="max-width: 100%; background-color: #4755d1;">
                        <div class="card-header text-dark">
                            <div class="row">
                                <div class="col-lg-12 text-primary" style="display:inline;">
                                    <i class="fa fa-exclamation-triangle text-warning" style="display: inline;"></i><p class="text-warning" style="display:inline-block;"><b>          @ticket.TicketType</b></p>
                                    <span style="float: right;" class="text-end">@ticket.TicketDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark bg-white">
                            <h5 style="font-size: 25px; font-weight: normal;" class="card-title text-dark"><b>@ticket.TicketTitle</b></h5>
                            <p class="card-text" style="font-size: 16px; font-weight: normal;">@Html.Raw(@ticket.TicketContent)</p>
                            <br />
                            @if (@ticket.isAnswered)
                            {
                                var respondSender = await UserManager.FindByNameAsync(ticket.TicketRespondSenderUserName);
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>     @respondSender.FirstName @respondSender.LastName</b> answered: @ticket.TicketRespondContent</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text text-dark" style="display: inline-block; vertical-align: top; float: right; font-weight: normal;"><b>Contact:</b><i>  @respondSender.Email</i></p>
                                    </div>
                                    <hr />
                                    @if (ticket.UserResponse == null)
                                    {
                                        <div class="col-6">
                                            <form action="/Panel/ResolvedTicket" method="post" class="text-start" onsubmit="return confirm('You are about to mark this ticket as Resolved. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Resolved
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form action="/Panel/NotResolvedTicket" method="post" class="text-end" onsubmit="return confirm('You are about to mark this ticket as Not Resolved. You will be taken to Email Sending page to send an email to support team. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-danger" style="float: right;">
                                                    Not Resolved
                                                </button>
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-6">
                                            <p class="text-end"> Email sent to support system. This ticket will be deleted in 30 mins. </p>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="col-6">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>Waiting Response...</b><span style="font-size: 13px; font-weight: normal; color: #666666;">(Answer by our support team will be displayed here.)</span></p>
                                </div>
                            }

                        </div>
                    </div>
                }
                if (@ticket.TicketType == "High Emergency")
                {
                    <div class="card mb-3 shadow" style="max-width: 100%; background-color: #4755d1;">
                        <div class="card-header text-dark">
                            <div class="row">
                                <div class="col-lg-12 text-primary" style="display:inline;">
                                    <i class="fa fa-exclamation-circle text-danger" style = "display: inline;"></i><p class="text-danger" style="display:inline-block;"><b>          @ticket.TicketType</b></p>
                                    <span style="float: right;" class="text-end">@ticket.TicketDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark bg-white">
                            <h5 style="font-size: 25px; font-weight: normal;" class="card-title text-dark"><b>@ticket.TicketTitle</b></h5>
                            <p class="card-text" style="font-size: 16px; font-weight: normal;">@Html.Raw(@ticket.TicketContent)</p>
                            <br />
                            @if (@ticket.isAnswered)
                            {
                                var respondSender = await UserManager.FindByNameAsync(ticket.TicketRespondSenderUserName);
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>     @respondSender.FirstName @respondSender.LastName</b> answered: @ticket.TicketRespondContent</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text text-dark" style="display: inline-block; vertical-align: top; float: right; font-weight: normal;"><b>Contact:</b><i>  @respondSender.Email</i></p>
                                    </div>
                                    <hr />
                                    @if (ticket.UserResponse == null)
                                    {
                                        <div class="col-6">
                                            <form action="/Panel/ResolvedTicket" method="post" class="text-start" onsubmit="return confirm('You are about to mark this ticket as Resolved. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Resolved
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form action="/Panel/NotResolvedTicket" method="post" class="text-end" onsubmit="return confirm('You are about to mark this ticket as Not Resolved. You will be taken to Email Sending page to send an email to support team. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-danger" style="float: right;">
                                                    Not Resolved
                                                </button>
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-6 text-end">
                                            <p> Email sent to support system. This ticket will be deleted in 30 mins. </p>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="col-6">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>Waiting Response...</b><span style="font-size: 13px; font-weight: normal; color: #666666;">(Answer by our support team will be displayed here.)</span></p>
                                </div>
                            }

                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="tab-pane fade px-2" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h4 id="profile-title" class="text-dark"><i class="fas fa-headset fa-sm" "></i>   Active Tickets</h4>
            @if (unansweredTickets.Count == 0)
            {
            <p>You do not have any active support tickets.</p>
            }
            else
            {
                foreach (var ticket in unansweredTickets)
                {
                    if (@ticket.TicketType == "Suggestion")
                    {
                    <div class="card mb-3 shadow" style="max-width: 100%; background-color: #4755d1;">
                        <div class="card-header text-dark">
                            <div class="row">
                                <div class="col-lg-12 text-primary" style="display:inline;">
                                    <i class="fa fa-info-circle text-warning" style="display: inline;"></i><p class="text-warning" style="display:inline-block;"><b>          @ticket.TicketType</b></p>
                                    <span style="float: right;" class="text-end">@ticket.TicketDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark bg-white">
                            <h5 style="font-size: 25px; font-weight: normal;" class="card-title text-dark"><b>@ticket.TicketTitle</b></h5>
                            <p class="card-text" style="font-size: 16px; font-weight: normal;">@Html.Raw(@ticket.TicketContent)</p>
                            <br />
                                @if (@ticket.isAnswered)
                                {
                                    var respondSender = await UserManager.FindByNameAsync(ticket.TicketRespondSenderUserName);
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>     @respondSender.FirstName @respondSender.LastName</b> answered: @ticket.TicketRespondContent</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text text-dark" style="display: inline-block; vertical-align: top; float: right; font-weight: normal;"><b>Contact:</b><i>  @respondSender.Email</i></p>
                                    </div>
                                    <hr />
                                        @if (ticket.UserResponse == null)
                                        {
                                        <div class="col-6">
                                            <form action="/Panel/ResolvedTicket" method="post" class="text-start" onsubmit="return confirm('You are about to mark this ticket as Resolved. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Resolved
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form action="/Panel/NotResolvedTicket" method="post" class="text-end" onsubmit="return confirm('You are about to mark this ticket as Not Resolved. You will be taken to Email Sending page to send an email to support team. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-danger" style="float: right;">
                                                    Not Resolved
                                                </button>
                                            </form>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-6">
                                            <p class="text-end"> Email sent to support system. This ticket will be deleted in 30 mins. </p>
                                        </div>
                                        }
                                </div>
                                }
                                else
                                {
                                <div class="col-6">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>Waiting Response...</b><span style="font-size: 13px; font-weight: normal; color: #666666;">(Answer by our support team will be displayed here.)</span></p>
                                </div>
                                }

                        </div>
                    </div>
                    }
                    if (@ticket.TicketType == "Emergency")
                    {
                    <div class="card mb-3 shadow" style="max-width: 100%; background-color: #4755d1;">
                        <div class="card-header text-dark">
                            <div class="row">
                                <div class="col-lg-12 text-primary" style="display:inline;">
                                    <i class="fa fa-exclamation-triangle text-warning" style="display: inline;"></i><p class="text-warning" style="display:inline-block;"><b>          @ticket.TicketType</b></p>
                                    <span style="float: right;" class="text-end">@ticket.TicketDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark bg-white">
                            <h5 style="font-size: 25px; font-weight: normal;" class="card-title text-dark"><b>@ticket.TicketTitle</b></h5>
                            <p class="card-text" style="font-size: 16px; font-weight: normal;">@Html.Raw(@ticket.TicketContent)</p>
                            <br />
                                @if (@ticket.isAnswered)
                                {
                                    var respondSender = await UserManager.FindByNameAsync(ticket.TicketRespondSenderUserName);
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>     @respondSender.FirstName @respondSender.LastName</b> answered: @ticket.TicketRespondContent</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text text-dark" style="display: inline-block; vertical-align: top; float: right; font-weight: normal;"><b>Contact:</b><i>  @respondSender.Email</i></p>
                                    </div>
                                    <hr />
                                        @if (ticket.UserResponse == null)
                                        {
                                        <div class="col-6">
                                            <form action="/Panel/ResolvedTicket" method="post" class="text-start" onsubmit="return confirm('You are about to mark this ticket as Resolved. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Resolved
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form action="/Panel/NotResolvedTicket" method="post" class="text-end" onsubmit="return confirm('You are about to mark this ticket as Not Resolved. You will be taken to Email Sending page to send an email to support team. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-danger" style="float: right;">
                                                    Not Resolved
                                                </button>
                                            </form>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-6">
                                            <p class="text-end"> Email sent to support system. This ticket will be deleted in 30 mins. </p>
                                        </div>
                                        }
                                </div>
                                }
                                else
                                {
                                <div class="col-6">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>Waiting Response...</b><span style="font-size: 13px; font-weight: normal; color: #666666;">(Answer by our support team will be displayed here.)</span></p>
                                </div>
                                }

                        </div>
                    </div>
                    }
                    if (@ticket.TicketType == "High Emergency")
                    {
                    <div class="card mb-3 shadow" style="max-width: 100%; background-color: #4755d1;">
                        <div class="card-header text-dark">
                            <div class="row">
                                <div class="col-lg-12 text-primary" style="display:inline;">
                                    <i class="fa fa-exclamation-circle text-danger" style="display: inline;"></i><p class="text-danger" style="display:inline-block;"><b>          @ticket.TicketType</b></p>
                                    <span style="float: right;" class="text-end">@ticket.TicketDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark bg-white">
                            <h5 style="font-size: 25px; font-weight: normal;" class="card-title text-dark"><b>@ticket.TicketTitle</b></h5>
                            <p class="card-text" style="font-size: 16px; font-weight: normal;">@Html.Raw(@ticket.TicketContent)</p>
                            <br />
                                @if (@ticket.isAnswered)
                                {
                                    var respondSender = await UserManager.FindByNameAsync(ticket.TicketRespondSenderUserName);
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>     @respondSender.FirstName @respondSender.LastName</b> answered: @ticket.TicketRespondContent</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text text-dark" style="display: inline-block; vertical-align: top; float: right; font-weight: normal;"><b>Contact:</b><i>  @respondSender.Email</i></p>
                                    </div>
                                    <hr />
                                        @if (ticket.UserResponse == null)
                                        {
                                        <div class="col-6">
                                            <form action="/Panel/ResolvedTicket" method="post" class="text-start" onsubmit="return confirm('You are about to mark this ticket as Resolved. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Resolved
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form action="/Panel/NotResolvedTicket" method="post" class="text-end" onsubmit="return confirm('You are about to mark this ticket as Not Resolved. You will be taken to Email Sending page to send an email to support team. Do you want to proceed?');">
                                                <input type="hidden" name="ticketId" value="@ticket.TicketId" />
                                                <button type="submit" class="btn btn-sm btn-danger" style="float: right;">
                                                    Not Resolved
                                                </button>
                                            </form>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-6 text-end">
                                            <p class=""> Email sent to support system. This ticket will be deleted in 30 mins. </p>
                                        </div>
                                        }
                                </div>
                                }
                                else
                                {
                                <div class="col-6">
                                    <i class="fa fa-angle-double-right" aria-hidden="true" style="display:inline-block;"></i><p class="card-text text-dark" style="display: inline-block; vertical-align: top;"><b>Waiting Response...</b><span style="font-size: 13px; font-weight: normal; color: #666666;">(Answer by our support team will be displayed here.)</span></p>
                                </div>
                                }

                        </div>
                    </div>
                    }
                }
            }
    </div>
</div>
    